html {
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    background-color: #efefef;
}

header {
    background-color: #364552;
    color: white;
    padding: 2rem 1rem;
}

header h1 {
    font-size: 4rem;
    text-align: center;
}

.container {
    width: 400px;
    margin: 0 auto;
}

.descripcion {
    text-align: justify;
}

section article {
    /*
    Indica la propiedad a transitar a otro valor, el tiempo y el algoritmo de animacion
    */
    transition: box-shadow 0.3s ease;
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.25rem 0;
    cursor: pointer;
}

section article:hover {
    /*
    Desplazamiento a la derecha, desplazamiento hacia abajo, difuminacion, color
    */
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.3);
}

section article h2,
section article p {
    margin: 1rem;
}

footer {
    background-color: #222;
    padding: 3rem;
    color: #fff;
    height: 3rem;
}

.contacto {
    float: left;
}

.copyrigth {
    float: right;
}

footer a {
    transition: color 0.3s ease;
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}