/*
¿QUE ES CSS?
Significa Cascading Style Sheets.
Describe la presentacion de docs HTML.
Un doc HTML puede tener multiples CSS.
*/

/*
NOTAS
CSS funciona en base a selectores que referencian un unico o varios elementos dentro de nuestro HTML.
Los que se escriba de ultimo en nuestro archivo css tiene proridad sobre lo que va antes.
Una etiqueta en el HTML puede tener multiples clases de css.
*/

/*Aplica estilo a la etiqueta body*/
body {
    background-color: azure;
}

/*Aplica estilo a la etiqueta con id titulo*/
#titulo {
    color: brown;
}

.especial {
    color: blue;
}

/*Aplica estilo a las etiquetas con clase parrafo*/
.parrafo {
    color: chocolate;
}

/*Aplica estilo a las etiquetas p con clase parrafo. sirve para cuando una clase es compartida por etiquetas de diferente tipo*/
p.parafo {}

p.especial {}

/*Las etiqeutas p dentro de un div*/
div p {
    color: chartreuse;
}

/*Los h2 dentro de las etiquetas div*/
div h2 {}

/*Los h2 dentro de las etiquetas div y todos los h3*/
div h2,
h3 {}

/*Los h2 dentro de las etiquetas div y los h3 dentro de las etiquetas div*/
div h2,
div h3 {}

/*
Selecciona todos los elementos dentro del html
Las propiedades aplican a los elementos que no tengan definidas dichas propiedades en otro selector css
*/
* {
    font-size: 24px;
    /*
    buena tecnica para maquetacion de una pagina
    border: 1px black solid;
    */
}

/*La propiedad color modifica el color de la fuente o el texto dentro de nuestra etiqueta, se pueden usar valores, relativos de lenguaje natural, hexadecimales, rbg y hsl*/
.color1 {
    color: red
        /*lenguaje natural*/
}

.color2 {
    color: #F00
        /* #F00 Ó #FF0000*/
        /*
        Valores hexadecimales, pueden tener 3 o 6 caracteres, 0 es el valor de la mayor ausencua de color y f el valor con la mayor intensidad de color.
        Valores hexadecimales: 0 - 1 - 2 - 3 - 4 - 5 - 6 - 7 - 8 - 9 - A - B - C - D - E - F.
        3 caracteres: primer digito: rojo, segundo digito: verde, tercer digito: azul.
        6 caracteres: primeros 2 digitos: rojo, segundos 2 digitos: verde, terceros 2 digitos: azul.
        #000000(negro: ausencia de todos los colores) - #FFFFFF(blanco: presencia de todos los colores).
        */
}

.color3 {
    color: rgb(255, 0, 0)
        /*Convencion rgb para mostrar colores, funciona igual que el hezadecimal, con la diferencia que los valores a indicar van del 0 al 255*/
        /*Convencion rgba para mostrar colores, funciona igual que el rgb pero incluye un cuarto parametro que indica la opacidad, toma valores del 0 al 1, donde 1 es un valor completamente solido y 0 un valor completamtne trasparente*/
}

/* la propiedad border muestra bordes en los elementos html, requiere el tamaño del borde, el color y el estilo del mismo*/
.borde1 {
    border: 5px green dashed;
    /*
    dotted
    dashed
    solid
    double
    groove (elemento tridimencional, el color afecta el estilo dle borde)
    ridge (elemento tridimencional, el color afecta el estilo dle borde)
    inset (elemento tridimencional, el color afecta el estilo dle borde)
    outset (elemento tridimencional, el color afecta el estilo dle borde)
    none
    hidden
    */
}

.borde2 {
    /*Nos permite indicar el estilo del borde sin necesidad del ancho ni el color*/
    border-style: solid;
    /*Nos permite seleccionar solo el color*/
    border-color: blue;
    /*Nos permite asignar un borde redondeado*/
    border-radius: 5px;
    /*Nos permite asignar el ancho del borde*/
    border-width: 5px;
}

/*
UNIDADES DE MEDIDA
px: pixel, unidad minima dentro de la web para poder mostrar algo, trata de hacer referencia a exactametne un cuadrado fisico en pantalla que compone la imagen, pero dependiendo de la pantalla realmente la unidad puede hacer referencia a mas de un pixel fisico.
cm(centimetro), mm(milimetro), in(pulgada), pt(puntos, un setenta y doceabo de pulgada), pc(picas, 12 puntos): medidas "absolutas" que no van a cambiar, no recomendable por que los dispositivos muestran estas medidas de diferente forma.
em: tamaño de la fuente del contenido de la etiqueta, medida relativa al tamaño del contenido.
rem: tamaño de la fuente de nuestra etiqueta raiz, osea la etiqueta html, por defecto el tamaño de la fuente en html es 16px, a menos que se cambie.
*/

#fondo1 {
    /*Color de fondo*/
    background-color: rebeccapurple;
    /*Opacidad del elemento completo, 1 color solido, 0 color trasparente*/
    opacity: 0.5;
}

#fondo2 {
    /*Alto del contenedor*/
    height: 400px;
    /*Recibe una url con la ruta donde esta almacenada la imagen a mostrar*/
    background-image: url('img/coffee.png');
    /*Ajusta el tamaño de la imagen*/
    background-size: cover;
    /*
    cover: adapta el tamaño de la imagen al tamaño del contenedor, sin cambiar la relacion de aspecto pero si la porcion de la imagen mostrada segun la diferencia de tamaños entre la imagen y el contenedor
    auto: incrusta la imagen con su tamaño original dentro del contenedor y se muestra la porcion de la imagen que coincide con el tamaño del contenedor, la imagen se repite si el contenedor es mas grande
    contain: ajusta el tamaño de la imagen al del contenedor sin cambiar la relacion de aspecto, si el contenedor es mas grande al nuevo tamaño de la imagen ajustado, entonces la imagen se empieza a repetir
    */
}

#fondo3 {
    height: 1200px;
    background-color: rebeccapurple;
    background-image: url('img/coffee.png');
    /*
    Ajusta el tamaño de la imagen, indicandole el ancho y luego el alto
    Al indicar las medidas de la imagen si se cambia la relacion de aspecto y se incrusta la imagen en el contenedor, si el tamaño del contenedor es mayor al nuevo tamaño ajustado de la imagen, esta se repite
    El tamaño de la imagen se debe declarar despues de definir la imagen con la propiedad background-image, si no la propiedad se anula, puesto que cuando es interpretada, no hay imagen para redimencionar
    */
    background-size: 400px 400px;
    /*
    Gestiona la repeticion de la imagen dentro del contenedor y puede tomar varios valores   
    repeat-x: solo se repite a lo largo de x
    repeat-y: solo se repite a lo largo de y
    no-repeat: no se repite la imagen
    mas valores por estudiar, comprender e interiorizar
    */
    background-repeat: repeat-y;
    /*
    Gestiona la poscicion en la cual se empieza a repetir la imagen
    Recibe la poscicion en x de donde empieza y la poscicion en y, con los valores right, left y center para las poscicion y y top bottom y center para la poscicion x
    tambien se le pueden enviar la poscicion con las demas unidades de medida vistas, px, mm, rem, etc
    */
    background-position: left top;
    /*
    Podemos simplificar todas estas propiedades, con la siguiente sentencia, refenrente a la propiedad background
    background: rebeccapurple url('img/coffee.png') repeat-y left top; y añadiendo el background-size posterior a la propiedad background
    o inclusibe podemos simplificar a un mas la propiedad y añadir el tamaño dentro de la misma propiedad background de la siguiente manera
    background: rebeccapurple url('img/coffee.png') repeat-y left top / 400px 400px;
    */
}

/*
La celda de una etiqueta se estructura en un margin que envuelve un borde y este envuelve un padding y este envuelve el contenido
Esta estructura asi como las propiedades que modifican el estilo de la etiqueta se pueden ver en el inspeccionador de elementos del navegador
*/
.margen1 {
    background: wheat;
}

.margen2 {
    background: beige;

    /*
    Da margenes a un lado espesifico del contenedor
    margin-top: ;
    margin-bottom: ;
    margin-left: ;
    margin-right: ;
    La etiqueta margin da margenes a todos los lados de nuestro contenedor en el orden de: top, right, bottom, left
    Si se le envia un solo valor a la propiedad margin, todos los lados toman ese valor
    Si se le mandan dos valores el primero es el valor vertical y el segundo el horizontal
    Si se le mandan tres valores el primero es el valor superior, el segundo el horizontal y el tercero el inferior
    */
    margin: 15px 20px 25px 30px;

    border: 1px black solid;

    /*
    da padding a un lado espesifico del contenedor
    padding-top: ;
    padding-bottom: ;
    padding-right: 
    padding-right: ;
    La etiqueta padding da padding a todos los lados de nuestro contenedor en el orden de: top, right, bottom, left
    Si se le manda 1, 2 o 3 valores tiene el mismo comportamiento que el margin
    */
    padding: 30px 25px 20px 15px;
}

.contenedor {
    height: 100px;
    width: 100px;

    border: 1px black solid;

    /*Borde que esta entre el borde real y el margen y toma las mismas caracteristicas y propiedades de un borde*/
    outline: 1px orange solid;

    background: thistle;

    /*
    La etiqueta overflow gestiona como se muestra el contenido de la etiqueta
    Por defecto su valor es visible, muestra el contenido de la etiqueta asi este se salga del contenedor
    El valor hidden oculta el contenido por fuera del tamaño del contenedor
    El valor scroll, crea dos barras, una lateral y otra horizontal para dezplazarse por el contenido dentro de la etiqueta, estas barras se ubican entre el padding y el borde
    */
    overflow: scroll;
}

.texto1 {
    width: 500px;
    border: 1px black solid;
    color: black;

    /*
    Fuente del texto
    Intenta cargar una fuente, si no puede, carga la siguiente y asi hasta la fuente final, que si tampoco puede cargarla carga la de por defecto del html
    Si el nombre de la fuente contiene espacios se escribe entre comillas simples
    font-family: 'Courier New', Courier, monospace;
    Si quiero usar una fuente descargada de internet, puedo por ejemplo obtener una fuente gratuita de google font, copiar los links que me proporsiona esa fuente he incluirlos en mi html > head, como esta echo actualmente en el proyecto
    */
    font-family: 'Bungee Spice', 'Courier New', Courier, monospace;

    /*
    Centra el texto de la etiqueta, valor por defecto: left
    Otros valores que puede tomar: center, right, justify
    */
    text-align: justify;

    /*
    none (por defecto)
    underline
    line-through
    overlines
    */
    text-decoration: line-through;

    /*
    Crea una sombra de el texto
    Dos valores: valor hacia la derecha, valor hacia abajo
    Tres valores: valor hacia la derecha, valor hacia abajo, color
    Cuarto valores: valor hacia la derecha, valor hacia abajo, difuminado, color
    */
    text-shadow: 3px 5px 5px blue;
}

/*
Los links en HTML pueden tener 4 diferentes estados
Cuando nunca han sido visitados (selector a:link)
Cuando han sido visitados (selector a:visited)
Cuando se pasa el mouse por encima de el (selector a:hover)
Cuando se encuentra activo, osea al momento de clickearlo (a:active)
Se pueden utilizar unos o algunos de estos selectores, pero deben agregarse en este orden, link, visited, hover, active
*/
a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellowgreen;
}

a:active {
    color: brown;
}

ul {
    overflow: hidden;
    text-align: justify;
    width: 500px;
    background-color: aqua;
    /*
    Modifica la viñeda de cada item de la lista
    list-style-type: none;
    Los items tienen un valor por defecto de 40 de padding a la izquiera, el cual puede modificarse
    padding-left: 0;
    Si quiero que las viñeras esten dentro del contenido de la etiqueta y no en el padding puedo cambiar la posicion de las mismas
    list-style-position: inside;
    */

}